body {
  font-size: 25px;
}

header {
  padding: 10px;

  color: #fff;
  text-align: center;

  background: #1eaedb;
}

.linkstyle {
  color: #fff;
  text-decoration: none;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #212529;
}
